[Unit]
Description=Watchdog for website %i
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=www-data
Group=www-data
WorkingDirectory=/var/www/%i
ExecStart=/usr/bin/php /var/www/%i/vendor/vkrapotkin/watchdog-bot/bin/watchdog --config=/var/www/%i/storage/app/watchdog/config.json
TimeoutStartSec=5min
UMask=0077
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/www/%i/storage/app/watchdog
